.pt-notification{
    color: #fff; 
    position: fixed; 
     
    z-index: 999;
    padding: 20px;
    display: flex;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    overflow: hidden
}
.pt-notification.top-right{right: -100%; top: 8%;}
.pt-notification.top-left{left: 0; top: 8%;}


.pt-notification.success{background: #18A689;}
.pt-notification.info{background: #0378a3}
.pt-notification.warning{background: #fcc90f}
.pt-notification.danger{background: #FF0000}
.pt-notification-time{
    background: rgba(0,0,0,0.4); 
    position: absolute; 
    width: 100%;
    height: 0.3em;
    top: 0;
    left: 0;
    border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
}