.img-dest-pagina{width: 100%; height: 130px; border: 1px solid #18A689}
.img-ajax-loader{width: 40px; margin-left: 10px; display: none}
.select2{width: 100%}
.img-galeria{width: 100%; height: 150px;}
.btn-delete-img-galeria{position: absolute; border-radius: 0;}
.box-list-images-galeria:last-of-type(3){margin-bottom: 30px; clear: right}
.page-heading{margin-bottom: 20px;}
.box-list-pages:nth-of-type(4n+0){margin-bottom: 50px;}
.profile-element{text-align: center}
.profile-element .img-circle{width: 80px; height: 80px; box-shadow: 0 0 0 3pt rgba(255,255,255,0.3);}
.info-artigos{background: #18A689; color: #fff; padding: 10px 20px}
.post-destaque{color: #000; font-size: 2em; position: absolute; width: 10%; left: 45%; right: 45%; top: -10px;}

.sortable, .sortable ol{list-style: none; padding: 0; margin: 0; font-size: 1.1em;}
.sortable li{display: block; cursor: move; padding: 13px 15px; background: #F3F3F4; margin: 3px 0;; border-left: 7px solid #E7EAEC; border-right: 7px solid #E7EAEC; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;}
.sortable li i:last-of-type{padding-right: 7px}

.loading{width: 100%; height: 100%; position: fixed; background: rgba(39,58,74,0.5); z-index: 999999; display: flex; align-items: center; display: none}
.loading span{flex-basis: 100%; text-align: center; font-size: 4em; color: #fff;}

/** Login **/
.bg_login{
    /*background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);*/
    background: linear-gradient(-45deg, #18A689, #243747, #2F4050, #18A689);
    background-size: 400% 400%;
    width: 100wh;
    height: 90vh;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

/* TABLET */
@media only screen and (min-width:768px) and (max-width:1023px) {
}

/* MOBILE */
@media only screen and (min-width:240px) and (max-width:639px) {
    .navbar-static-side{display: none}
}