body{font-family: 'Montserrat', sans-serif; color:#555;}
ol, ul{border-bottom: none !important;}
ul{list-style: none}
a{color:inherit; text-decoration: none}
a:hover{color:inherit; text-decoration: none;
        transition: 0.3s ease-in 0s all;
        -webkit-transition: 0.3s ease-in 0s all;
        -moz-transition: 0.3s ease-in 0s all;
        -o-transition: 0.3s ease-in 0s all;
}
section{padding-bottom: 30px; position: relative}


.load-page{width: 100%; height: 100%; background-color: #000; position: fixed; z-index: 99999; background-image: url(images/page-loader.gif);
           background-repeat: no-repeat;
           background-position: center center;
}

/*Helps*/
.oculto{display: none}
.green{color: #2B404F}
.font-reduz{font-size: 1em;; font-weight: 600}

/*Social*/
.btn-social{padding:10px 20px; color: #fff; margin-bottom: 10px}
.btn-facebook{background: #415E9B;}
.btn-google-plus{background: #EA4335;}
.btn-twitter{background: #2AA9E0;}
.btn-instagram{background: #895A4D}
.btn-youtube{background: #DA2625}
.btn-linkedin{background: #007BB6}
.jssocials-share *{color:#fff;}
.jssocials-share-twitter .fa{color: #1DA1F2 !important}
.jssocials-share-facebook .fa{color: #3C5A99 !important}
.jssocials-share-googleplus .fa{color: #DC4A38 !important}
.jssocials-share-whatsapp .fa{color: #38B624 !important}

/*Buttons*/
.btn-masc{border: 2px solid #fff !important}
.btn-masc:hover{background:none; border-color: #fff !important; color: #fff}
.btn-default{border: 2px solid;}
.btn-warning{color: #fff !important; background: #EFCF57}
.btn-post-call-action{width: 100%; text-align: center; border-radius: 0;}
/*.btn-success{background: #2B404F; border:none; color:#fff !important}*/
.btn-success{color: #fff !important}
.btn-tel{padding: 0 !important; border:none;}
.btn-tel:hover{background: #EFCF57}
.btn-tel-mobile{width: 100%; position: relative; background: #EFCF57; color: #fff; text-align: center; padding: 10px 0; border-radius: 0 0 5px 5px; display: none;}
/*.btn-large{padding: 20px; font-weight: 600}
.btn-newslatter{background: none; border:1px solid #fff; padding: 10px 30px;}
.btn-newslatter:hover{color:#fff; font-weight: bold}*/
.content-page a{color:#2B404F; font-weight: 600;}
.content-page p{text-align: justify}


/*Slide*/
.slide-home{width: 100%; height: 550px; padding: 0; margin: 0; background-color: #000; display: flex; align-items: center}
.slide-home li{flex-basis: 100%; height: 100%; background-size: cover; background-position: top center; background-attachment: fixed; text-align: center;}
.slide-home li .title{
    text-shadow:0px 5px 5px #000;
    color: #fff; margin-top: 150px; font-size: 2em; font-weight: bold;}
.slide-home li .desc{font-weight: 600; color: #000; background: #fff; padding: 10px; display: table; margin: 0 auto; margin-bottom: 20px;}
.btn-slide-home{padding: 20px 30px; font-weight: bold}

/*Defaults*/
.title-default, .title-sidebar{border-left: 4px solid #2B404F; padding-left: 10px; margin-bottom: 10px;}

.title-secont{border-bottom: 2px solid #2B404F; padding-bottom: 10px; position: relative}
.title-secont:after{content: ""; position: absolute; width: 150px; left: 0; bottom: 0; border: 2px solid #2B404F }
.j_backtop{background: #2B404F; color: #fff; padding: 15px; position: fixed; bottom: 15px; right: 10px; cursor: pointer; z-index: 99}

.masc-black{background: rgba(0,0,0,0.5); width: 100%; height: 100%; position: absolute; top: 0; z-index: 1}
.masc{font-weight: bold; font-size: 1.3em; background: rgba(237,3,3,0.5); width: 100%; height: 100%; position: absolute; visibility: hidden; opacity: 0; display: flex; justify-content: center; align-items: center}
.masc, .box-produtos img{
    transition: 0.3s ease-in 0s all;
    -webkit-transition: 0.5s ease-in 0s all;
    -moz-transition: 0.5s ease-in 0s all;
    -o-transition: 0.5s ease-in 0s all;
}
.box-produtos{margin-bottom: 40px; min-height: 270px;}
.box-produtos:hover img{
    moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.box-produtos:hover .masc{visibility: visible; opacity: 1; z-index: 3}
.box-produtos-content{position: relative; color: #fff; text-align: center; overflow: hidden; position: relative;}
.box-produtos-content p{padding: 10px; margin-top: 10px;}

.section-sobre-home{background: url(images/bg-section-home.jpg); background-attachment: fixed; background-size: cover; color: #fff; padding: 30px 0 40px 0}
.section-sobre-home .container{z-index: 2; position: relative}
.content-page ul li:before{
    font-family: FontAwesome;
    font-size: 1.2em;
    margin-right: 10px;
    color: #2B404F;
    content: "\f046"
}

.header-site{background: #fff; height: 110px; border-bottom: 2px solid #2B404F;}
.logo{max-width: 180px; margin-top: 7px}
/*Menu Principal*/
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{background: none; color: #2B404F !important}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover{background: #2B404F}
.navbar-default{height: 110px; background: none; border:none;}
.navbar-default a{font-weight: bold; color: #2B404F !important;}
.navbar-default .navbar-left{margin-left: 70px;}
.navbar-default .navbar-collapse{margin-top: 30px;}
.menu-fixo{position: fixed; width: 100%; height: 75px !important; top: 0; left: 0; z-index: 200; background: #fff; border-radius: 0; border-bottom: 2px solid #2B404F}
.menu-fixo .logo{max-width: 100px;}
.menu-fixo .navbar-collapse{margin-top: 13px}
.dropdown-menu{background: rgba(0,0,0,0.9)}
.dropdown-menu li a:hover{background: #2B404F; color:#fff}
.dropdown-menu li a{color:#fff}

.dropdown-menu-cat{background: #333333; color: #fff; padding: 3px 10px; cursor: pointer}
.sub-menu-categorias{padding: 5px; padding-left: 0; background: #333333; display: none}
.sub-menu-categorias a{color: #fff !important;}
.menu-categorias li:before{content: '' !important; margin-right: 0 !important;}

/*.section-regioes-de-atendimento{background: url(images/map.png) no-repeat;  border-bottom: 2px solid; border-color:#2B404F}
.multiplicador ul li{display: inline-block; padding: 5px}
.multiplicador ul strong{border:1px solid #2B404F; color:#2B404F; padding: 5px; font-size: 0.7em}
.nav-tabs>li>a{color: inherit}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .nav-tabs>li>a:hover{border:none; border-radius: 0 !important; background: #2B404F; color:#fff; outline: 1px solid #fff; outline-offset: -4px}*/


/*BREADCRUMBS*/
.breadcrumb{background: none !important; color:#fff}
.breadcrumb a{color:#fff; font-weight: bold}
.breadcrumb .active{}

/*PAGES*/
.header-page{position: relative; background-position: center center !important; background-size: cover !important; text-align: center}
.header-page h2, .header-page .tagline{color:#fff}
.header-page .filter-white{position: absolute; background: rgba(0,0,0,0.7); width: 100%; height: 100%;}
.header-page .container{position: relative; z-index: 1; padding: 30px 0}
.col-left,
.col-right{padding-top: 20px;}
.content-page{padding-top: 20px; padding-bottom: 20px;}
.content-page p{padding-bottom: 25px; line-height: 23px}
.search-result:nth-of-type(4n+0){margin-bottom: 70px;}
.search-result .img-dest{width: 100%; height: 130px;}
.img-artigos-home{width: 100%; height: 130px}
.img-dest-pages{float: left; padding: 20px;}
.desc-categorias{font-weight: 400; font-style:italic; font-size: 1.3em; color: #888}

/******************************************/
/**************** Popup ******************/
/****************************************/
.popup{background: #000; padding: 10px}
.fancybox-skin{background: #000; color: #fff;}
.popup img{max-width: 100%}
.popup-header{text-align: center}
.popup-content p{text-align: center; padding: 10px 0}
.popup-footer{}

/******************************************/
/*************** Galeria *****************/
/****************************************/
a.thumbnail{display: inline-block; border:none}
.thumbnail img{border: 1px solid #ccc; padding: 5px; border-radius: 5px;}
/*MAPA CONTATO*/
.mapa iframe{width: 100% !important; height: 400px !important;}

/*FOOTER*/
.footer{background: #333; color:#fff; padding: 20px 0;}
.menu-footer{padding: 0;}
.menu-footer li a:hover{color: #2B404F}
.line-footer{background: #000; padding: 8px 0; color:#fff}

/*BLOG*/
.artigo{margin-bottom: 40px;}
.artigo .title-default{margin-bottom: 10px}
.artigo h2 a{color:#2B404F; text-decoration: none;}
.img-dest-artigo{margin-bottom: 20px; border: 2px solid #333; position: relative; overflow: hidden;}
/*.img-dest-artigo img{width: 100%; height: 408px;}*/
.menu-categorias{padding: 0}
.menu-categorias li{line-height: 1.5em; padding: 7px 18px; margin: 0; position: relative}
.menu-categorias li a{color: #2B404F; text-decoration: none; font-weight: inherit !important}
.menu-categorias li a:hover{color: #000}
.artigo{margin-top: 20px;}
.artigo p{text-align: justify}
/*.artigo ul{list-style: circle}*/
/*.artigo .img-dest-artigo img{width: 100%;}*/
.artigos-relacionados{height: 220px; overflow: hidden}
.artigos-relacionados img{}
.artigos-relacionados .title-default{margin-bottom: 0}
.artigos-relacionados:nth-of-type(3n+0){margin-bottom: 30px;}
.col_left p{padding-bottom: 10px; text-align: justify}

.col_left table th{background: #000; color: #fff}
.col_left table td{font-size: 0.9em}

/*PAGINAÇÃO*/
.pagination a{color: #777 !important;}
.pagination > .active > a, 
.pagination > .active > a:focus, 
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus, 
.pagination > .active > span:hover{background-color:#000; border-color: #000; color:#fff;}

/*FORMS*/
form input,
form select,
form textarea{border: 2px solid #555 !important; border-radius: 5px !important;}

.form-icons{position: relative}
.form-icons input,
.form-icons select,
.form-icons textarea{padding-left: 35px}
.form-icons i{position: absolute; left: 15px; font-size: 1.2em; top: 33px}

.form-404{padding: 30px 0}
.form-404 input{width: 500px !important;}

.msg-email-success{color:#449D44; font-weight: bold; padding: 10px 0; display: none;}
.msg-email-error{color: #d9534f; font-weight: bold; padding: 10px 0; display: none;}

/* TABLET */
@media only screen and (min-width:768px) and (max-width:1023px) {
    .navbar-default .navbar-form{display: none}
    .logo{width: 100px; padding-top: 15px;}
}

/* MOBILE */
@media only screen and (min-width:240px) and (max-width:459px) {
    .masc p{display: none !important;}
    .masc a{margin-top: 40px;}
}

@media only screen and (min-width:240px) and (max-width:480px) {
    .navbar-default{margin-top: -15px;}
    .btn-tel-mobile{display: block !important;}
    .btn-tel{display: none !important;}
    .navbar-default .navbar-collapse{margin-top: 0 !important;}
}
@media only screen and (min-width:240px) and (max-width:639px) {
    .logo{width: 130px; margin-top: 10px}
    .navbar-toggle{margin-top: 35px}
    .menu-fixo .navbar-toggle{margin-top: 23px}
    .menu-fixo .logo{margin-top: 13px}

    .video-container h2{font-size: 3.5em !important;}
    .slide-home{height: 450px}
    .slide-home li .title{
        text-shadow:0px 5px 5px #000;
        color: #fff; margin-top: 60px; font-size: 2em; font-weight: bold;}
    .slide-home li .desc{font-weight: 600; color: #000; background: #fff; padding: 10px; display: table; margin: 0 auto; margin-bottom: 20px;}
    .btn-slide-home{padding: 20px 30px; font-weight: bold}

    .navbar-default .navbar-left{margin-left: 0;}
    .navbar-collapse{background: rgba(0,0,0,0.9); position: absolute !important; width: 100% !important;}
    .navbar-default .navbar-nav > li > a{color:#fff}
    .navbar-default .navbar-form{display: none}
    .navbar-default .navbar-collapse{position: relative; z-index: 999}

    /*.img-dest-artigo{max-height: 200px !important}*/
}